<ion-header [translucent]="true" >
  <ion-toolbar class="arriba">
    <ion-title class="titulo" >Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true"class="centro" >
  <ion-header collapse="condense" >
    <ion-toolbar class="arriba">
      <ion-title size="auto" >Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>¿Iniciamos el viaje?</strong>
    <hr>
    <div class="example-button-row">
      <ion-button mat-raised-button class="btn" [routerLink]="['/login']" #ini>iniciar</ion-button>  
    </div>

   
  </div>
</ion-content>
