<ion-header>
  <ion-toolbar class="arriba">
    <ion-buttons slot="start"><ion-back-button text="Atras" defaultHref="/"></ion-back-button></ion-buttons>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido {{usuario}}</ion-card-title>
      <ion-label></ion-label>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button mat-raised-button>necesito un viaje</ion-button>
      <ion-button mat-raised-button>puedo llevar gente</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
